@charset "UTF-8";

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.no-webp .about__hero{
  background-image: url(../img/about-hero/bg.jpg); }

.about__hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.no-webp .about__hero::before{
  background-image: url(../img/about-hero/bg.jpg); }

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.vision {
  margin-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
}

.vision__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.vision__about {
  max-width: 36.875rem;
}

.vision__grouptitle {
  margin-bottom: 1.1875rem;
}

.vision__grouptitle .grouptitle__title {
  margin-bottom: 1.1875rem;
}

.vision__grouptitle .grouptitle__subtitle {
  margin-bottom: 0.875rem;
}

.vision__about-list {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
}

.vision__about-item {
  position: relative;
  font-family: "Cabin", "serif";
  max-width: 32.5em;
  padding-left: 2.5rem;
}

.vision__about-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../img/icons/icons.svg#ok);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vision__foto {
  position: relative;
  margin-top: 2.75rem;
}

.vision__foto::before,
.vision__foto::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.vision__foto::before {
  top: -1rem;
  right: -2rem;
  width: 7.0625rem;
  height: 7.875rem;
  background-color: #4EAF4E;
  border-radius: 1.25rem;
}

.vision__foto::after {
  top: -2.75rem;
  right: -4.5rem;
  width: 14.125rem;
  height: 14.125rem;
  background-image: url(../img/icons/icons.svg#decor-dot-328x328);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.vision__foto-img {
  max-width: 30.5rem;
  border-radius: 1.25rem;
}

.vision__progress {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
  justify-content: space-around;
}

.vision__progress-item {
  font-family: "Cabin", "serif";
  color: #181818;
  line-height: 1.16;
  text-align: center;
}

.vision__progress-number {
  font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.vision__progress-text {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
}

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.growing {
  padding-top: calc(50px + 50 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
  margin-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
  background-color: #F5F5F5;
}

.growing__top {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem 1.875rem;
  margin-bottom: 2.125rem;
  align-items: end;
}

.growing__grouptitle .grouptitle__title {
  margin-bottom: 0.5rem;
}

.growing__grouptitle .grouptitle__subtitle {
  margin-bottom: 0.6875rem;
  max-width: 13.06em;
}

.growing__grouptitle .grouptitle__text {
  max-width: 36.75em;
}

.growing__top-button {
  border: 2px solid tranparent;
  padding-top: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-bottom: calc(8px + 7 * ((100vw - 320px) / 1600));
  padding-right: calc(18px + 16 * ((100vw - 320px) / 1600));
  padding-left: calc(18px + 16 * ((100vw - 320px) / 1600));
  flex-shrink: 0;
}

.growing__items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1.25rem;
}

.growing__item {
  display: flex;
  max-width: 25%;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #EAEAEA;
  transition: 0.3s ease;
}

.growing__link {
  display: flex;
  flex-direction: column;
  padding-top: calc(20px + 16 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 16 * ((100vw - 320px) / 1600));
  padding-left: calc(13px + 11 * ((100vw - 320px) / 1600));
  padding-right: calc(13px + 11 * ((100vw - 320px) / 1600));
}

.growing__icon {
  max-width: calc(40px + 13 * ((100vw - 320px) / 1600));
  max-height: calc(40px + 13 * ((100vw - 320px) / 1600));
  margin-bottom: calc(15px + 7 * ((100vw - 320px) / 1600));
}

.growing__item-title {
  color: #181818;
  font-family: "Cabin", serif;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 600;
  line-height: 1.16;
  /* 23.2px */
  margin-bottom: 0.625rem;
}

.growing__item-text {
  margin-bottom: calc(15px + 7 * ((100vw - 320px) / 1600));
}

.growing__item-button {
  position: relative;
  font-weight: 600;
  line-height: 1.6;
  /* 28.8px */
  width: -moz-fit-content;
  width: fit-content;
  color: #181818;
  padding-right: 1.4375rem;
}

.growing__item-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0.8125rem;
  height: 0.6875rem;
  background-image: url(../img/icons/icons.svg#growing-arrow);
  background-size: container;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.history {
  margin-bottom: calc(70px + 107 * ((100vw - 320px) / 1600));
}

.history__grouptitle {
  margin-bottom: 2.75rem;
}

.history .grouptitle__title {
  margin-bottom: 1.375rem;
}

.history .grouptitle__subtitle {
  margin-bottom: 0.6875rem;
  max-width: 10.62em;
}

.history .grouptitle__text {
  max-width: 45.75em;
}

.history__flash {
  max-width: 60.125rem;
}

.history__flash::before,
.history__flash::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.history__flash::before {
  width: 10.25rem;
  height: 11.4375rem;
  bottom: -1.6875rem;
  left: -2.4375rem;
  background-image: url(../img/icons/icons.svg#decor-green-164x183);
}

.history__flash::after {
  width: 17.9375rem;
  height: 17.9375rem;
  top: -2.125rem;
  right: -3.75rem;
  background-image: url(../img/icons/icons.svg#decor-dot-328x328);
  z-index: -1;
}

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.team {
  background-color: #F5F5F5;
  padding-top: calc(70px + 80 * ((100vw - 320px) / 1600));
  padding-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
  margin-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
}

.team .grouptitle {
  margin-bottom: 2.75rem;
}

.team .grouptitle__title {
  margin-bottom: 1.375rem;
}

.team .grouptitle__subtitle {
  margin-bottom: 0.6875rem;
  max-width: 11.06em;
}

.team .grouptitle__text {
  max-width: 40.1875em;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem 0.9375rem;
}

.team__item {
  max-width: 22.875rem;
}

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.book {
  margin-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
  --padding: 30px;
  padding: 0 var(--padding);
}

.book__container {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  align-items: center;
  background-color: #181818;
  border-radius: 1.875rem;
  padding: 0 5.625rem 0 7.1875rem;
}

.book__grouptitle {
  margin-bottom: 1.3125rem;
}

.book__grouptitle .grouptitle__title {
  margin-bottom: 0.5rem;
}

.book__grouptitle .grouptitle__subtitle {
  margin-bottom: 0.5rem;
}

.book__about {
  flex-basis: 26.4375rem;
  padding: 1.875rem 0;
}

.book__button {
  position: relative;
  padding: 1rem 1rem 1rem 3.0625rem;
}

.book__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.875rem;
  width: 1.375rem;
  height: 1.375rem;
  transform: translate(-50%, -50%);
  background-image: url(../img/icons/icons.svg#book);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes phoneCallAbsolute {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  12% {
    transform: translate(-50%, -50%) rotate(15deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(0);
  }

  37% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0);
  }

  62% {
    transform: translate(-50%, -50%) rotate(15deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(0);
  }

  87% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@media (min-width: 1920px) {
  .vision {
    margin-bottom: 150px;
  }

  .vision__wrapper {
    margin-bottom: 50px;
  }

  .vision__progress-number {
    font-size: 50px;
  }

  .vision__progress-text {
    font-size: 18px;
  }

  .growing {
    padding-top: 100px;
  }

  .growing {
    padding-bottom: 100px;
  }

  .growing {
    margin-bottom: 150px;
  }

  .growing__top-button {
    padding-top: 15px;
  }

  .growing__top-button {
    padding-bottom: 15px;
  }

  .growing__top-button {
    padding-right: 34px;
  }

  .growing__top-button {
    padding-left: 34px;
  }

  .growing__link {
    padding-top: 36px;
  }

  .growing__link {
    padding-bottom: 36px;
  }

  .growing__link {
    padding-left: 24px;
  }

  .growing__link {
    padding-right: 24px;
  }

  .growing__icon {
    max-width: 53px;
  }

  .growing__icon {
    max-height: 53px;
  }

  .growing__icon {
    margin-bottom: 22px;
  }

  .growing__item-title {
    font-size: 20px;
  }

  .growing__item-text {
    margin-bottom: 22px;
  }

  .history {
    margin-bottom: 177px;
  }

  .team {
    padding-top: 150px;
  }

  .team {
    padding-bottom: 150px;
  }

  .team {
    margin-bottom: 150px;
  }

  .book {
    margin-bottom: 150px;
  }
}

@media (max-width: 1040px) {
  .growing__items {
    flex-wrap: wrap;
    align-items: normal;
  }

  .growing__item {
    flex-grow: 1;
    max-width: calc(50% - 10px);
  }

  .growing__item-text {
    flex-grow: 1;
  }
}

@media (max-width: 768.9px) {
  .team .grouptitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team__list {
    flex-direction: column;
    align-items: center;
  }

  .book {
    --padding: 15px;
  }

  .book__container {
    justify-content: center;
    padding: 0 1.25rem;
  }

  .book__grouptitle {
    text-align: center;
  }

  .book__grouptitle .grouptitle__title {
    margin-left: auto;
    margin-right: auto;
  }

  .book__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 27.5rem;
  }

  .book__button {
    margin: 0 auto;
  }

  .book picture {
    display: none;
  }

  .book__image {
    display: none;
  }
}

@media (max-width: 640.9px) {
  .vision__foto {
    display: none;
  }

  .vision__progress {
    justify-content: center;
  }

  .vision__progress-item {
    width: 45%;
  }

  .growing__top {
    flex-direction: column;
    align-items: center;
  }

  .growing__grouptitle {
    text-align: center;
  }

  .growing__grouptitle .grouptitle__title {
    margin-left: auto;
    margin-right: auto;
  }

  .growing__grouptitle .grouptitle__subtitle {
    margin-left: auto;
    margin-right: auto;
  }

  .growing__item {
    max-width: 100%;
  }

  .growing__link {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .growing__item-text {
    max-width: 24.4em;
  }

  .growing__item-button {
    margin-left: auto;
  }

  .history__flash::before,
  .history__flash::after {
    display: none;
  }
}

@media (max-width: 320px) {
  .vision {
    margin-bottom: 70px;
  }

  .vision__wrapper {
    margin-bottom: 30px;
  }

  .vision__progress-number {
    font-size: 30px;
  }

  .vision__progress-text {
    font-size: 16px;
  }

  .growing {
    padding-top: 50px;
  }

  .growing {
    padding-bottom: 50px;
  }

  .growing {
    margin-bottom: 70px;
  }

  .growing__top-button {
    padding-top: 8px;
  }

  .growing__top-button {
    padding-bottom: 8px;
  }

  .growing__top-button {
    padding-right: 18px;
  }

  .growing__top-button {
    padding-left: 18px;
  }

  .growing__link {
    padding-top: 20px;
  }

  .growing__link {
    padding-bottom: 20px;
  }

  .growing__link {
    padding-left: 13px;
  }

  .growing__link {
    padding-right: 13px;
  }

  .growing__icon {
    max-width: 40px;
  }

  .growing__icon {
    max-height: 40px;
  }

  .growing__icon {
    margin-bottom: 15px;
  }

  .growing__item-title {
    font-size: 18px;
  }

  .growing__item-text {
    margin-bottom: 15px;
  }

  .history {
    margin-bottom: 70px;
  }

  .team {
    padding-top: 70px;
  }

  .team {
    padding-bottom: 70px;
  }

  .team {
    margin-bottom: 70px;
  }

  .book {
    margin-bottom: 70px;
  }
}

@media (any-hover: hover) {
  .growing__top-button:hover {
    color: #181818;
    background-color: transparent;
    border-color: #181818;
  }

  .growing__item:hover {
    transform: translateY(-3px) scale(1.07);
  }

  .book__button:hover {
    background-color: #FFCC4A;
  }

  .book__button:hover::before {
    animation-name: phoneCallAbsolute;
    animation-duration: 0.5s;
  }
}

.webp .about__hero{ background-image: url(../img/about-hero/bg.webp); }

.webp .about__hero::before{ background-image: url(../img/about-hero/bg.webp); }