@charset "UTF-8";

:root {
  --mainColor: #222A31;
  --fontFamily: "Ubuntu", "Arial", sans-serif;
  --fontSize: 15px;
  --fontWeight: 500;
  --lineHeight: 112.5%;
  /* 18/16 */
  --ffInter: "Inter", "Arial", sans-serif;
  --ffRoboto: "Roboto", "Arial", sans-serif;
  --containerPadding: 10px;
  --YellowMain: #FF6B00;
  --YellowBg: #FF8000;
  --YellowDark: #EC5600;
  --bgGrayLite: #F2F2F2;
  --bgGray: #EFF4F4;
  --bgGrayMedium: #4A4A4A;
  --textWhite: #fff;
  --textBlack: #000;
  --textGreen: #358D00;
  --textGray: #8F8F8F;
  --textGrayDark: #474747;
  --textGrayMedium: #53595F;
}

.info {
  background-color: var(--bgGrayLite);
  padding: 10px 0;
  margin-bottom: 45px;
}

.info__box {
  width: 100%;
}

.info__box-tabs {
  display: flex;
  overflow: auto;
}

.info__box-tab {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 24px;
  line-height: 150%;
  /* 24/16 */
  text-transform: uppercase;
}

.info__box-tab--active {
  background-color: var(--textWhite);
}

.info__box-item {
  display: none;
}

.info__box-item.info__box-item--active {
  display: block;
}

.info__box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.info__box-table {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  line-height: 240%;
  /* 36/15 */
  width: 100%;
  max-width: 880px;
  color: var(--textGrayMedium);
  background-color: var(--textWhite);
  padding: 40px 35px;
}

.info__box-table tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.info__box-pce {
  max-width: 607px;
  margin: 0 auto;
}

.info__box-img {
  max-width: 607px;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.no-webp .study__hero::before{
  background-image: url(../img/hero/study-hero.jpg); }

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

.news {
  margin-bottom: calc(70px + 80 * ((100vw - 320px) / 1600));
}

.news .info__box-tabs {
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  padding-top: calc(15px + 16 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 16 * ((100vw - 320px) / 1600));
  background-color: #181818;
  border-radius: 1.875rem;
  margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.news .info__box-tab {
  min-width: -moz-max-content;
  min-width: max-content;
  font-family: "Cabin", "serif";
  font-size: 1.5625rem;
  font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
  font-weight: 600;
  line-height: 1.16;
  padding: 0;
  cursor: pointer;
}

.news .info__box-tab:hover p {
  color: #FFCC4A;
}

.news .info__box-tab p {
  color: #FFFFFF;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
  text-transform: none;
}

.news .info__box-tab--active {
  background-color: transparent;
}

.news .info__box-tab--active p {
  color: #FFCC4A;
  border-color: #FFCC4A;
}

.news .info__box-sublist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.9375rem;
  padding: calc(15px + 10 * ((100vw - 320px) / 1600));
  background-color: #F5F5F5;
  border-radius: 1.25rem;
}

.news .info__box-sublist .gallery-item {
  max-width: calc(33.3333333333% - 12.5px);
}

.news .info__box-sublist .gallery-item:hover .gallery-item__about {
  opacity: 1;
}

.news .info__box-sublist .gallery-item__link {
  width: 100%;
}

.news .info__box-sublist .gallery-item__link::before {
  display: none;
}

.news .info__box-sublist .gallery-item__about {
  display: flex;
  flex-direction: column;
  justify-content: end;
  inset: 0;
  padding: 1.5625rem;
  background-color: rgba(24, 24, 24, 0.75);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  opacity: 0;
  transition: 0.3s ease;
}

.news .info__box-sublist .gallery-item__about::before {
  top: 1.875rem;
  right: 1.875rem;
}

.news .info__box-sublist .gallery-item__about::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 60.17%;
  background-image: linear-gradient(0deg, #181818 1.97%, rgba(24, 24, 24, 0) 84.18%);
  z-index: -1;
}

.news .info__box-sublist .gallery-item__title {
  margin-bottom: 0.25rem;
  font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
}

.news .info__box-sublist .gallery-item__text {
  font-size: 1rem;
}

@media (min-width: 1920px) {
  .news {
    margin-bottom: 150px;
  }

  .news .info__box-tabs {
    padding-top: 31px;
  }

  .news .info__box-tabs {
    padding-bottom: 31px;
  }

  .news .info__box-tabs {
    margin-bottom: 50px;
  }

  .news .info__box-tab {
    font-size: 25px;
  }

  .news .info__box-sublist {
    padding: 25px;
  }

  .news .info__box-sublist .gallery-item__title {
    font-size: 25px;
  }
}

@media (max-width: 1040px) {
  .no-webp .study__hero::before{
    background-image: url(../img/hero/study-hero-mobile.jpg); }
}

@media (max-width: 768.9px) {
  .news .info__box-sublist .gallery-item {
    max-width: calc(50% - 12.5px);
  }
}

@media (max-width: 520px) {
  .news .info__box-sublist .gallery-item {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .news {
    margin-bottom: 70px;
  }

  .news .info__box-tabs {
    padding-top: 15px;
  }

  .news .info__box-tabs {
    padding-bottom: 15px;
  }

  .news .info__box-tabs {
    margin-bottom: 30px;
  }

  .news .info__box-tab {
    font-size: 20px;
  }

  .news .info__box-sublist {
    padding: 15px;
  }

  .news .info__box-sublist .gallery-item__title {
    font-size: 20px;
  }
}

.webp .study__hero::before{ background-image: url(../img/hero/study-hero.webp); }

@media (max-width: 1040px){

  .webp .study__hero::before{ background-image: url(../img/hero/study-hero-mobile.webp); }
}